<template>
    <div class="row" v-if="events">
        <div class="col-xs-8 col-sm-8 col-md-8">
            <h2>Calendar</h2>
            <a-calendar v-model="currentDay">
                <ul class="events" slot="dateCellRender" slot-scope="value">
                    <li v-for="item in getEventsForMonth(value)" :key="item.timeEvent" v-if="getDayFromDate(value).day == getDayFromDate(item.startEvent).day" >
                        <router-link :to="{ name: 'inner', params: { id: item.id } }">{{item.nameEvent}}</router-link>
                    </li>
                </ul>
            </a-calendar>
        </div>
        <app-add-event></app-add-event>

    </div>
</template>
<script>
    import moment from 'moment';
    import AppAddEvent from './EventForm.vue';
    import { mapGetters } from 'vuex';
    export default {
        data() {
            return {
                currentDay: moment(),
                events: [],
            };
        },
        components: {
            AppAddEvent
        },
        computed : {
            ...mapGetters(['eventsData']),
        },
        methods: {
            onPanelChange(value, mode) {
                console.log(value, mode);
            },
            getEventsForMonth(month) {
                return (
                    this.events &&
                    this.events.filter(event => {
                        return moment(event.startEvent).isSame(month, 'month');
                    })
                );
            },
            getDayFromDate(date) {
                return {
                    day: moment(date).date()
                };
            },
        },
        mounted() {
            axios.get('/api/events').then(result => {
                this.events = result.data;
            }).catch(error => {
                console.log(error);
                this.loading = false;
            });
        },
        watch: {
            eventsData(eventsData) {
                this.events = eventsData;
            }
        }

    };
</script>
<style scoped>
    .events {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .events .ant-badge-status {
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        text-overflow: ellipsis;
        font-size: 12px;
    }
    .notes-month {
        text-align: center;
        font-size: 28px;
    }
    .notes-month section {
        font-size: 28px;
    }
</style>
