<template>
    <div class="col-xs-4 col-sm-4 col-md-4">
        <form @submit.prevent="addEvent">
            <h2>Add event</h2>
            <div class="input-holder">
                <input type="text" placeholder="Event title" v-model="event.title"/>
            </div>
            <div class="input-holder">
                <a-date-picker v-model="event.startEvent"></a-date-picker>
                <a-time-picker format="HH:mm" @change="ChgstartTime"></a-time-picker>
            </div>
            <div class="input-holder">
                <a-date-picker v-model="event.endEvent"></a-date-picker>
                <a-time-picker format="HH:mm" @change="ChgendTime"></a-time-picker>
            </div>
            <div class="input-holder">
                <textarea placeholder="Event description" rows="4" v-model="event.description" ></textarea>
            </div>
            <div class="input-holder">
                <button type="submit">Add</button>
            </div>

        </form>
        <app-search-event></app-search-event>
    </div>
</template>
<script>
    import moment from 'moment';
    import AppSearchEvent from './SearchEvent.vue';
    export default {
        name: 'AppAddEvent',
        data(){
            return {
                event: {
                    title: '',
                    startEvent: moment(),
                    endEvent: moment(),
                    startTime: moment().format('HH:mm'),
                    endTime: moment().format('HH:mm'),
                    description: ''
                }
            }
        },
        components: {
            AppSearchEvent
        },

        methods: {
            moment,
            ChgstartTime(time, timeString) {
                this.event.startTime = timeString;
            },
            ChgendTime(time, timeString) {
                this.event.endTime = timeString;
            },
            async addEvent(){
                let promise = new Promise((resolve, reject) => {
                    axios.post('/api/events/', {
                        nameEvent:this.event.title,
                        descEvent:this.event.description,
                        startEvent:this.event.startEvent.format('YYYY-MM-DD') + ' ' + this.event.startTime,
                        endEvent:this.event.endEvent.format('YYYY-MM-DD') + ' ' + this.event.endTime
                    })
                        .then(function (response) {
                            resolve(response.data);
                            console.log(response.data);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                });
                promise.then(
                    result => {
                        this.$store.dispatch('SAVE_EVENT', result);
                        this.event = {
                            title: '',
                                startEvent: moment(),
                                endEvent: moment(),
                                startTime: moment().format('HH:mm'),
                                endTime: moment().format('HH:mm'),
                                description: ''
                        };
                    },
                    error => {
                        alert("Rejected: " + error);
                    }
                );



            },
            resetValues(){
                this.event = {
                    title: '',
                    start: '',
                    end: '',
                    cssClass: '',
                    data: {
                        description: ''
                    }
                }
            }
        }
    }
</script>
<style>
    form {
        display: flex;
        flex-direction: column;
    }
    .input-holder {
        margin: 10px 0;
        display: flex;
        justify-content: flex-start;
    }
    .vdp-datepicker {
        width: 100%;
    }
    .vdp-datepicker > div > input {
        width: 77%;
    }
    .input-holder > button {
        justify-self: center;
        padding: 12px 25px;
        border-radius: 0;
        text-transform: uppercase;
        font-weight: 600;
        background: #4CAF50;
        color: white;
        border: none;
        font-size: 14px;
        letter-spacing: -0.1px;
        cursor: pointer;
    }
    input,
    textarea {
        padding: 12px 15px;
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: 0;
        width: 100%;
        opacity: 0.8;
        font-size: 15px;
        font-weight: normal;
    }

</style>
