<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <a @click="goBack()" class="btn-back">Back</a>
                <table class="customers" v-if="event">
                    <tr>
                        <th>#</th>
                        <th>Event name</th>
                        <th>Event description</th>
                        <th>Event start/end date</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>{{event.id}}</td>
                        <td>{{event.nameEvent}}</td>
                        <td>{{event.descEvent}}</td>
                        <td>{{ (event.startEvent ? moment(event.startEvent).format('MMMM Do YYYY, HH:mm:ss') : '' )}} / {{ (event.endEvent ? moment(event.endEvent).format('MMMM Do YYYY, HH:mm:ss') : '' )}}</td>
                        <td style="text-align:center;">
                            <a-icon type="edit" class="icon-delete" @click="editEvent(event)"/>
                        </td>
                        <td style="text-align:center;">
                            <a-icon type="delete" class="icon-delete" @click="deleteEvent(event.id)"/>
                        </td>
                    </tr>

                </table>
                <form @submit.prevent="EditEvent">
                    <h2>Edit event</h2>
                    <div class="input-holder">
                        <input type="text" placeholder="Event title" v-model="eventEdit.nameEvent"/>
                    </div>
                    <div class="input-holder">
                        <a-date-picker v-model="startEvent"></a-date-picker>
                        <a-time-picker format="HH:mm"  @change="ChgstartTime"></a-time-picker>
                    </div>
                    <div class="input-holder">
                        <a-date-picker v-model="endEvent"></a-date-picker>
                        <a-time-picker format="HH:mm" @change="ChgendTime"></a-time-picker>
                    </div>
                    <div class="input-holder">
                        <textarea placeholder="Event description" rows="4" v-model="eventEdit.descEvent"></textarea>
                    </div>
                    <div class="input-holder">
                        <button type="submit">Edit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</template>

<script>
    import moment from 'moment';
    export default {
        data() {
            return {
                event: {},
                eventEdit: {},
                startEvent: moment(),
                endEvent: moment(),
                startTime: moment().format('HH:mm'),
                endTime: moment().format('HH:mm')
            };
        },
        components: {},

        mounted() {
            axios.get('/api/events/' + this.$route.params.id).then(result => {
                this.event = result.data[0]
            }).catch(error => {
                console.log(error);
                this.loading = false;
            });
        },
        methods: {
            moment,
            ChgstartTime(time, timeString) {
                this.startTime = timeString;
            },
            ChgendTime(time, timeString) {
                this.endTime = timeString;
            },
            async EditEvent() {
                let promise = new Promise((resolve, reject) => {
                    axios.put('/api/events/'+this.eventEdit.id, {
                        id: this.eventEdit.id,
                        nameEvent:this.eventEdit.nameEvent,
                        descEvent:this.eventEdit.descEvent,
                        startEvent:this.startEvent.format('YYYY-MM-DD') + ' ' + this.startTime,
                        endEvent:this.endEvent.format('YYYY-MM-DD') + ' ' + this.endTime
                    })
                        .then(function (response) {
                            resolve(response.data[0]);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                });
                promise.then(
                    result => {
                        this.event = result;
                    },
                    error => {
                        alert("Rejected: " + error);
                    }
                );
            },
            deleteEvent(id) {
                axios.delete('/api/events/' + id).then(result => {
                    this.$notification['success']({
                        message: result.data.msg,
                        placement: 'topRight'
                    });
                    this.event = {};
                    setTimeout(() => this.$router.push('/admin/events'), 2000);
                }).catch(error => {
                    console.log(error);
                    this.loading = false;
                });

            },
            editEvent(event) {
                this.eventEdit = event;
                this.startEvent = moment(event.startEvent);
                this.endEvent = moment(event.endEvent);
            },
            goBack() {
                this.$router.push('/admin/events')
            }
        }
    }
</script>
<style scoped>
    .customers {
        border-collapse: collapse;
        width: 100%;
        margin: 0 0 20px;
    }

    .customers td, .customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .customers tr:hover {
        background-color: #ddd;
    }

    .customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }

    .btn-back {
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        margin: 0 0 10px;
        color: #4CAF50;
    }
</style>
