<template>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <form @submit.prevent="searchEvents">
                <h2>Search event</h2>
                <div class="input-holder">
                    <input type="text" placeholder="Event title" v-model="event.title" />
                </div>

                <div class="input-holder">
                    <button type="submit">Search</button>
                </div>
            </form>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-12" v-if="events">
            <h2>List of events</h2>
            <table class="customers">
                <tr>
                    <th>#</th>
                    <th>Event name</th>
                    <th>Event description</th>
                    <th>Event start/end date</th>
                </tr>
                <tr v-for="item in events" >
                    <td>{{item.id}}</td>
                    <td><router-link :to="{ name: 'inner', params: { id: item.id } }">{{item.nameEvent}}</router-link></td>
                    <td>{{item.descEvent}}</td>
                    <td>{{ moment(item.startEvent).format('MMMM Do YYYY, HH:mm:ss')}} / {{moment(item.endEvent).format('MMMM Do YYYY, HH:mm:ss')}}</td>
                </tr>

            </table>

        </div>
    </div>
</template>
<script>
    import moment from 'moment';
    import { mapGetters } from 'vuex';
    export default {
        name: 'AppSearchEvent',
        data(){
            return {
                events: [],
                event: {
                    title: ''
                }
            }
        },
        computed : {
            ...mapGetters(['eventsData']),
        },
        methods: {
            moment,
            async searchEvents() {
                axios.get('/api/events-search?search='+this.event.title).then(result => {
                    this.events = result.data;
                }).catch(error => {
                    console.log(error);
                    this.loading = false;
                });

            }
        },
        mounted() {
            axios.get('/api/events?sort=asc&orderby=endEvent').then(result => {
                this.events = result.data;

            }).catch(error => {
                console.log(error);
                this.loading = false;
            });
        },
        watch: {
            eventsData(eventsData) {
                this.events = eventsData;
            }
        }
    }
</script>
<style>
    form {
        display: flex;
        flex-direction: column;
    }
    .input-holder {
        margin: 10px 0;
        display: flex;
        justify-content: flex-start;
    }
    .vdp-datepicker {
        width: 100%;
    }
    .vdp-datepicker > div > input {
        width: 77%;
    }
    .input-holder > button {
        justify-self: center;
        padding: 12px 25px;
        border-radius: 0;
        text-transform: uppercase;
        font-weight: 600;
        background: #4CAF50;
        color: white;
        border: none;
        font-size: 14px;
        letter-spacing: -0.1px;
        cursor: pointer;
    }
    input,
    textarea {
        padding: 12px 15px;
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: 0;
        width: 100%;
        opacity: 0.8;
        font-size: 15px;
        font-weight: normal;
    }

    .events {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .events .ant-badge-status {
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        text-overflow: ellipsis;
        font-size: 12px;
    }
    .notes-month {
        text-align: center;
        font-size: 28px;
    }
    .notes-month section {
        font-size: 28px;
    }
    .list-events {
        list-style:none;
        padding-left:0;
    }
    .list-events li {
        padding: 0 0 5px;
        marrging: 0 0 5px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    }
    .icon-delete {
        vertical-align: .1rem;
        margin: 0 0 0 10px;
        cursor: pointer;
    }
    .customers {
        border-collapse: collapse;
        width: 100%;
    }

    .customers td, .customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .customers tr:nth-child(even){background-color: #f2f2f2;}

    .customers tr:hover {background-color: #ddd;}

    .customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
</style>
